


.create-review-modal {
  border-radius: 20px;
  padding: .5rem;
  margin: 1rem;
  background-color: white;
  border: 0.3px solid rgba(177, 177, 177, 0.541);
  justify-content: center;
  width: 25%;
}

.create-review-modal:hover {
  background-color: rgba(225, 225, 225, 0.404);
  cursor: pointer;
}
