.spot-reviews-container {
  display: flex;
  justify-content: left;
  /* flex-wrap: wrap; */
  flex-flow: column wrap;
  margin-left: 5rem;
  padding-left: 2rem;
  padding-top: 1.5rem;
  width: 100%;
  /* border: 2px solid red; */
}

.spot-reviews-list {
  width: 100vw;
}

/* .reviews-array-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
} */

.single-review-container {
  /* display: flex; */
  flex-direction: column;
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.137);
  align-items: center;
  padding: 1.5rem;
  margin-bottom: 3rem;
}

.reviewer-name {
  display: flex;
  justify-content: left;
  align-items: center;
  font-weight: 425;
  /* padding-bottom: .3rem; */
  margin-bottom: .75rem;
  padding: 1.5rem;
  width: 100%;
}

.reviewer-review {
  font-weight: 225;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-bottom: .3rem;
}

.review-stars {
  padding: .3rem;
  margin-bottom: .3;
}


.delete-review-button {
  border-radius: 20px;
  padding: .5rem;
  margin-top: 1rem;
  background-color: white;
  border: 0.3px solid rgba(177, 177, 177, 0.541);
  justify-content: center;
  width: 10%;
}

.delete-review-button:hover {
  background-color: rgba(225, 225, 225, 0.404);
  cursor: pointer;
}
