* {
  box-sizing: border-box;
  /* justify-content: center; */
  /* margin-top: 10rem; */
}

.single-spot-container {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 3px solid blue; */
  padding: 15px;
  /* margin: 20px; */
  align-items: center;
  width: 100vw;
  height: 90vh;
}

.single-spot-images-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
}

.single-spot {
  justify-content: center;
  display: block;
  /* border: 3px solid green; */
  width: 50vw;
  margin-top: 7.5rem;
}

.spot-title {
  justify-content: left;
  /* align-items: center; */
  margin-top: 3rem;
  font-weight: 450;
}


.single-spot-image {
  max-width: 600px;
  max-height: 400px;
  display: flex;
  overflow: hidden;
  /* border: 3px solid brown; */
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.spot-image-url {
  width: 600px;
  height: 400px;
  border-radius: 20px;
  object-fit: cover;
  /* border: 3px solid blue; */
}

.spot-host-info {
  font-weight: 475;
}

.spot-details-random {
  font-weight: 250;
  padding-bottom: 2rem;
  width: 100%;
  border-bottom: 1px solid gray;
  margin-bottom: 1rem;
}


.edit-spot-delete-spot-container {
  display: inline;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.edit-spot-modal {
  border-radius: 20px;
  padding: .5rem;
  margin: 1rem;
  background-color: white;
  border: 0.3px solid rgba(177, 177, 177, 0.541);
  justify-content: center;
  width: 100%;
}

.edit-spot-modal:hover {
  background-color: rgba(225, 225, 225, 0.404);
  cursor: pointer;
}

.delete-spot-button {
  border-radius: 20px;
  padding: .5rem;
  margin: 1rem;
  background-color: white;
  border: 0.3px solid rgba(177, 177, 177, 0.541);
  width: 100%;
}

.delete-spot-button:hover {
  background-color: rgba(225, 225, 225, 0.404);
  cursor: pointer;
}
