* {
  box-sizing: border-box;
}


.single-spot-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
  margin: 0;

  align-items: center;
  width: 100%;
  height: 100%;
}


.single-spot-images-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.single-spot {
  justify-content: center;
  width: 100%;
}

.spot-title {
  display: flex;
  justify-content: left;
  margin-top: 2rem;
  padding-top: 3rem;
  font-weight: 450;
}

.spot-title-subheader {
  display: flex;
  justify-content: left;
  margin-bottom: 1.75rem;
}

.single-spot-image {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.spot-image-url {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: contain;
}

.spot-host-info {
  font-weight: 475;
}

.spot-details-random {
  font-weight: 250;
  padding-bottom: 2rem;
  width: 100%;
  border-bottom: 1px solid rgba(144, 144, 144, 0.387);
  margin-bottom: 1rem;
  /* margin-left: 3rem; */
}


.spot-main-details {
  /* font-weight: 475;
  padding-bottom: 2rem;
  width: 100%;
  border-bottom: 1px solid rgba(144, 144, 144, 0.387);
  margin-bottom: 1rem; */
  display: flex;
  flex-direction: row;
}

.spot-details {
  display: flex;
  flex-direction: column;
  flex: 2 1 2;
  font-weight: 475;
  padding-bottom: 1rem;
  width: 100%;
  border-bottom: 1px solid rgba(144, 144, 144, 0.387);
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.spot-bookings {
  display: flex;
  width: 100%;
  flex: 0 1;
}

.spot-owner-info {
  border-bottom: 1px solid rgba(144, 144, 144, 0.387);
  margin: 1.5rem 0;
}

.owner-medal {
  padding: 1rem;
  color: rgba(70, 70, 70, 0.851);
  font-size: 1.5rem;
}



.owner-medal-info {
  margin-top: .4rem;
  padding-left: 3.8rem;
  font-weight: 250;
  color: rgba(69, 69, 69, 0.653);
  margin-bottom: 1.5rem;
}

.edit-spot-delete-spot-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.edit-spot-modal {
  border-radius: 20px;
  padding: .5rem;
  margin: 1rem;
  background-color: white;
  border: 0.3px solid rgba(177, 177, 177, 0.541);
  justify-content: center;
  width: 100%;
}

.edit-spot-modal:hover {
  background-color: rgba(225, 225, 225, 0.404);
  cursor: pointer;
}

.delete-spot-button {
  border-radius: 20px;
  padding: .5rem;
  margin: 1rem;
  background-color: white;
  border: 0.3px solid rgba(177, 177, 177, 0.541);
  width: 100%;
}

.delete-spot-button:hover {
  background-color: rgba(225, 225, 225, 0.404);
  cursor: pointer;
}

.spot-aircover-container {
  border-bottom: 1px solid rgba(144, 144, 144, 0.387);

}

.aircover-banner {
  width: 140px;
  margin: 1.5rem 0;
}

.aircover-text {
  font-weight: 333;
  margin-bottom: 1.5rem;
}

.spot-amenities-container {
  /* border-bottom: 1px solid rgba(144, 144, 144, 0.387); */
  margin: 1.5rem 0;
}

.amenities-header {
  font-size: 1.25rem;
  font-weight: 475;
  margin-bottom: 1.5rem;
}

.amenity {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.amenity-svg {
  width: 25px;
  height: 25px;
}

.amenity-text {
  margin-left: 1rem;
  font-weight: 333;
}

.spot-bookings {
  /* position: relative; */
  display: flex;
  height: 100%;
  /* height: 350px; */
  /* max-width: 33%; */
  /* position: sticky; */
}


@media screen and (min-width: 1200px) {
  .single-spot-container {
    padding-left: 10%;
    padding-right: 10%;
  }
}


@media screen and (min-width: 1300px) {
  .single-spot-container {
    padding-left: 20%;
    padding-right: 20%;
  }
}
