.spots-grid-container {
  display: flex;
  padding: 0.5rem;
}

.spots-container {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: auto auto auto auto;
  border: 4px solid green;
}


.spots-spot-preview-image {
  object-fit: contain;
  border-radius: 15px;
  padding: 10px;
  width: max-content;
  height: max-content;
  /* height: 90%; */
}

.spots-spot-item-image {
  /* justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px; */
  object-fit: contain;
  border: 3px red solid;
  padding: 5px;
  /* height: 200px; */
  /* width: 200px; */
}
