.create-spot-button {
  border-radius: 20px;
  background-color: white;
  /* border: 1px solid gray; */
  width: 8rem;
  height: 3rem;
  font-size: 1rem;
  font-weight: 333;
  justify-content: center;
  border: none;
  margin-right: 1.5rem;
}

.create-spot-button:hover {
  background-color: rgb(240, 239, 239)
}
