.create-spot-button {
  border-radius: 20px;
  background-color: white;
  width: 8rem;
  height: 3rem;
  font-size: 1rem;
  font-weight: 333;
  justify-content: center;
  border: none;
  margin-right: 1.5rem;
}

.create-spot-button:hover {
  background-color: rgb(240, 239, 239)
}

form label {
  margin-bottom: 1rem;
  border-radius: .3rem;
  height: 100%;
  border: 1px solid rgba(128, 128, 128, 0.478);
  padding: .3rem;
}
