 * {
   box-sizing: border-box;
 }

 .navigation-container {
   top: 0;
   position: fixed;
   display: flex;
   width: 100vw;
   height: 8vh;
   background-color: white;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   padding: 2rem 2rem;
   border-bottom: 1px solid rgba(194, 194, 194, 0.567);
 }

 .logo-container {
   display: flex;
   align-items: center;
   justify-content: left;
   padding-left: 2rem;
   width: 50%;
   margin-left: 2rem;
 }

 .site-logo {
   height: 3rem;
   width: 3rem;
   color: #ff385c
 }


 .logo-name {
   text-decoration: none;
   justify-content: center;
   align-items: center;
   font-weight: bold;
   font-size: 1.5rem;
   color: #ff385c
 }

 .hosting-profile-container {
   display: flex;
   justify-content: right;
   align-items: center;
   width: 50%;
   padding-right: 2rem;
 }

 .hosting-container {
   display: flex;
   justify-content: center;
   align-items: center;
   padding-right: 2rem;
 }

 .host-button:hover {
   background-color: rgb(240, 239, 239);
   cursor: pointer;
 }

 .profile-container {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   position: relative;
   background-color: white;
 }

 .profile-button {
   border-radius: 30px;
   height: 50px;
   width: 90px;
   border: 1px solid rgba(199, 197, 197, 0.564);
   align-items: center;
   position: relative;
   background-color: white;
   margin-right: 1.2rem;
   display: flex;
   justify-content: center;
 }

 .profile-button:hover {
   box-shadow: 0px 2px 2px 1px rgb(213, 213, 213);
   cursor: pointer;
 }

 .fa-bars {
   justify-content: center;
   size: 10rem;
   font-size: 1rem;
   color: rgba(70, 69, 69, 0.864);
   margin-right: .3rem;
   padding-right: .3rem;
   align-items: center;
 }

 .fa-user-circle {
   font-size: 1.9rem;
   color: rgba(70, 69, 69, 0.864);
 }


 .profile-dropdown-container {
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 55px;
   right: 17px;
   /* right: 75px; */
   border-radius: 20px;
   background-color: rgba(240, 239, 239, 0.912);
   height: 150px;
   width: 150px;
 }

 .profile-dropdown {
   background-color: white;
   border-radius: 15px;
   justify-content: center;
   align-items: center;
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 100%;
   box-shadow: 0px 0px 5px 5px rgba(179, 179, 179, 0.251);
   overflow: hidden;
 }

 .login-button-container {
   display: flex;
   height: 100%;
   width: 100%;
   justify-content: center;
   align-items: center;
   border-bottom: 1px solid rgba(128, 128, 128, 0.273)
 }

 .login-button {
   width: 100%;
   height: 50%;
   background-color: white;
   border: none;
   justify-content: space-between;
   font-weight: 250;
   text-align: left;
   margin-left: 4px;
 }

 .login-button:hover {
   background-color: rgb(240, 239, 239);
   cursor: pointer;
 }


 .signup-button-container {
   display: flex;
   height: 100%;
   width: 100%;
   justify-content: center;
   align-items: center;
   border-bottom: 1px solid rgba(128, 128, 128, 0.273)
 }

 .signup-button {
   /* display: flex; */
   width: 100%;
   height: 50%;
   background-color: white;
   border: none;
   justify-content: space-between;
   font-weight: 425;
   text-align: left;
   margin-left: 4px;

 }

 .signup-button:hover {
   background-color: rgb(240, 239, 239);
   cursor: pointer;
 }

 .demo-login-container {
   display: flex;
   height: 100%;
   width: 100%;
   justify-content: center;
   align-items: center;
   border-bottom: 1px solid rgba(128, 128, 128, 0.273)
 }

 .demo-user-button {
   /* display: flex; */
   width: 100%;
   height: 50%;
   background-color: white;
   border: none;
   justify-content: space-between;
   font-weight: 250;
   text-align: left;
   margin-left: 4px;
 }

 .demo-user-button:hover {
   background-color: rgb(240, 239, 239);
   cursor: pointer;
 }




 .user-info-container {
   width: 100%;
   height: 100%;
   background-color: white;
   border: none;
   font-weight: 250;
   text-align: left;
   /* margin-left: 4px; */
   margin-top: 4px;
   padding: .4rem;
 }

 .user-username {
   width: 100%;
   height: 50%;
   background-color: white;
   justify-content: space-between;
   text-align: left;
   padding-left: .3rem;
   font-weight: 400;
   font-size: .95rem;
   text-decoration: none;
   color: black;
 }

 .user-email {
   width: 100%;
   height: 50%;
   background-color: white;
   justify-content: space-between;
   text-align: left;
   padding-left: .3rem;
   border-bottom: 1px solid rgba(128, 128, 128, 0.273);
   font-size: .95rem;
   word-break: break-word
 }

 .logout-button-container {
   display: flex;
   height: 50%;
   width: 100%;
   justify-content: center;
   align-items: center;
   border-bottom: 1px solid rgba(128, 128, 128, 0.273)
 }

 .logout-button {
   /* display: flex; */
   width: 100%;
   height: 50%;
   background-color: white;
   border: none;
   justify-content: space-between;
   font-weight: 250;
   text-align: left;
   margin-left: 4px;
 }

 .logout-button:hover {
   background-color: rgb(240, 239, 239);
   cursor: pointer;
 }










 .create-spot-button:hover {
   cursor: pointer;
 }
